{
  "plugins": [
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Error"
        ]
      }
    ],
    [
      "transform-regenerator"
    ]
  ],
  "presets": ["env"]
}
